<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SvConsultaUsr</servlet-name>
        <servlet-class>servlets.SvConsultaUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogout</servlet-name>
        <servlet-class>servlets.SvLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvSalidas</servlet-name>
        <servlet-class>servlets.SvSalidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvConsultaUsr</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogout</servlet-name>
        <url-pattern>/SvLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvSalidas</servlet-name>
        <url-pattern>/salidasturisticas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
